@using Logic.Helpers.TreeView
@model ShopNotch.Models.CategoryViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Notch/Views/Shared/_NotchLayout.cshtml";
}
<div id="notch-collection-container">
    <h1>Manage Categories</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <ul class="category-tree">

        @Html.Partial("_CategorySelectList", Model.Tree)

    </ul>

    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                Parent Category
            </th>
            <th></th>
        </tr>
        </thead>

        <tbody>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

        </tbody>

    </table>

</div>