@* @model IEnumerable<Data.Models.Category> *@
@model CategoryViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NotchLayout.cshtml";
}
<div id="notch-collection-container">
    <h1>Manage Categories</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <ul class="category-tree">

        @foreach (var item in Model.Tree.Nodes)
        {
        <li>
        <span class="caret">@item.Entity.Name</span>
            <ul class="nested">
            <li>
                @foreach (var subNode in item.SubNodes)
                {
                   
                    <span class="caret">@subNode.Entity.Name</span>
                    <ul class="nested">

                        @foreach (var subNodeSub in subNode.SubNodes)
                        {
                            
                            <li>@subNodeSub.Entity.Name</li>
                            
                        }
                    </ul>
                }
            </li>
            </ul>
        </li>
        }
        
    </ul>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Category.Name)
                        </th>
                        <th>
                            Parent Category
                        </th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (var item2 in Model.Categories)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item2.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item2.Parent.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item2.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item2.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item2.Id">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

</div>