@model ShopNotch.Models.Classes.ProductModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Notch/Views/Shared/_NotchLayout.cshtml";
}

<div id="notch-collection-container">
    <h1>Details</h1>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Sku)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sku)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StockQty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StockQty)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Weight)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Weight)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Length)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Length)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Width)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Width)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Height)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Height)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-area="Notch" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-area="Notch" asp-controller="Products" asp-action="Index">Back to List</a>
    </div>
</div>